﻿@model GIGSTIX.Models.Buyer
@{
    ViewBag.Title = "AddComment";
}

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <form action="/GIGSTIX/AddCommentImpl" method="post">
        <table>
            <tr>
                <td style="padding:5px">Content:</td>
                <td style="padding:5px">
                    <input type="text" name="content" data-val="true" data-val-length="Must be at least 3 characters" data-val-length-max="25" data-val-length-min="3" data-val-required="Required field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">
                    <select name="rating">
                        <option value="five">5</option>
                        <option value="four">4</option>
                        <option value="three">3</option>
                        <option value="two">2</option>
                        <option value="one">1</option>;
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Add Comment" />
        <input type="hidden" name="buyerUsername" value="@Model.Username" />
    </form>
</body>