﻿@model GIGSTIX.Models.User
@{
    ViewBag.Title = "Add Event";
}

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <h2>Add Event</h2>
    <form action="/GIGSTIX/AddEventImplementation">
        <table>
            <tr>
                <td style="padding:5px">Name</td>
                <td style="padding:5px">
                    <input type="text" name="name" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Type</td>
                <td style="padding:5px">
                    <input type="text" name="type" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="type" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Available Tickets</td>
                <td style="padding:5px">
                    <input type="text" name="availableTickets" data-val="true" data-val-length="Must be at least 1 character" data-val-length-max="25" data-val-length-min="1" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="availableTickets" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Date</td>
                <td style="padding:5px">
                    <input type="date" name="date" data-val="true" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="date" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Price</td>
                <td style="padding:5px">
                    <input type="text" name="price" data-val="true" data-val-length="Must be at least 1 character" data-val-length-max="25" data-val-length-min="1" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="price" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Image</td>
                <td style="padding:5px">
                    <input type="text" name="image" data-val="true" data-val-length="Must be at least 1 character" data-val-length-max="25" data-val-length-min="1" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="image" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">City</td>
                <td style="padding:5px">
                    <input type="text" name="city" data-val="true" data-val-length="Must be at least 2 characters" data-val-length-max="25" data-val-length-min="3" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="city" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Street</td>
                <td style="padding:5px">
                    <input type="text" name="street" data-val="true" data-val-length="Must be at least 3 characters" data-val-length-max="25" data-val-length-min="3" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="street" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">St. Number</td>
                <td style="padding:5px">
                    <input type="text" name="number" data-val="true" data-val-length="Must be at least 1 character" data-val-length-max="25" data-val-length-min="1" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="number" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">PostNumber</td>
                <td style="padding:5px">
                    <input type="text" name="postNumber" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="postNumber" data-valmsg-replace="true"></span>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Add" />
        <input type="hidden" name="username" value="@Model.Username" />
    </form>
    <br />
    <button onclick="goBack()">Back</button>
</body>