﻿@model GIGSTIX.Models.Admin
@{
    ViewBag.Title = "Admin";
}

<body style="background-color:#b0a9eb">

    <div style="text-align:right">
        <form action="/GIGSTIX/SignOut">
            <input type="submit" value="Sign out" class="btn-danger" />
        </form>
    </div>

    <div style="text-align:left">
        <h2>User: @Model.Username</h2>
    </div>

    <br />

    <h3>Profile Information</h3>
    <table>
        <tr>
            <td style="padding:5px">Name:</td>
            <td style="padding:5px">@Model.Name</td>
        </tr>
        <tr>
            <td style="padding:5px">Last name:</td>
            <td style="padding:5px">@Model.LastName</td>
        </tr>
        <tr>
            <td style="padding:5px">Birthday:</td>
            <td style="padding:5px">@Model.Birthday.ToShortDateString()</td>
        </tr>
        <tr>
            <td style="padding:5px">Gender:</td>
            <td style="padding:5px">@Model.Gender</td>
        </tr>
        <tr>
            <td style="padding:5px">Role:</td>
            <td style="padding:5px">@Model.Role.ToString()</td>
        </tr>
    </table>
    <br />
    <form action="/GIGSTIX/EditProfile">
        <input type="submit" value="Edit Profile" />
    </form>

    <br />

    <h3>All Users</h3>
    <table border="1" cellpadding="1">
        <tr>
            <td style="padding:5px" align="center"><b>Name</b></td>
            <td style="padding:5px" align="center"><b>Last name</b></td>
            <td style="padding:5px" align="center"><b>Username</b></td>
            <td style="padding:5px" align="center"><b>Birthday</b></td>
            <td style="padding:5px" align="center"><b>Gender</b></td>
            <td style="padding:5px" align="center"><b>Role</b></td>
            <td style="padding:5px" align="center"><b>Delete</b></td>
        </tr>
        @foreach (var u in GIGSTIX.Models.RegisteredUsers.AllUsers)
        {
            if (!u.IsDeleted)
            {
                <tr>
                    <td style="padding:5px">@u.Name</td>
                    <td style="padding:5px">@u.LastName</td>
                    <td style="padding:5px">@u.Username</td>
                    <td style="padding:5px">@u.Birthday.ToShortDateString()</td>
                    <td style="padding:5px">@u.Gender.ToString()</td>
                    <td style="padding:5px">@u.Role.ToString()</td>
                    <td style="padding:5px">
                        <form action="/GIGSTIX/DeleteUser" method="post">
                            <input type="submit" value="Delete" />
                            <input type="hidden" name="username" value="@u.Username" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
    <br />
    <form action="/GIGSTIX/AddSeller">
        <input type="submit" value="Add Seller" />
    </form>

    <br />

    <form action="/GIGSTIX/SortUsers" method="post">
        <h3>Sort Users</h3>
        <table>
            <tr>
                <td style="padding:5px">
                    <select name="sortBy">
                        <option value="name">Name</option>
                        <option value="lastname">Last name</option>
                        <option value="username">Username</option>
                    </select>
                </td>
                <td style="padding:5px">
                    <select name="order">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Sort" />
    </form>

    <br />
    
    <form action="/GIGSTIX/FilterUsers" method="post">
        <h3>Filter Users</h3>
        <table>
            <tr>
                <td style="padding:5px">Name:</td>
                <td style="padding:5px"><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td style="padding:5px">Last name:</td>
                <td style="padding:5px"><input type="text" name="lastname" /></td>
            </tr>
            <tr>
                <td style="padding:5px">Username:</td>
                <td style="padding:5px"><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td style="padding:5px">Role:</td>
                <td style="padding:5px">
                    <select name="role">
                        <option value="admin">Admin</option>
                        <option value="seller">Seller</option>
                        <option value="buyer">Buyer</option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Filter" />
    </form>

    <br />

    <div id="Events" class="tab-content">
        <h3>All Events</h3>
        
        <table border="1">
            <tr>
                <td align="center" style="padding:5px"><b>Name</b></td>
                <td align="center" style="padding:5px"><b>Type</b></td>
                <td align="center" style="padding:5px"><b>Date</b></td>
                <td align="center" style="padding:5px"><b>Location</b></td>
                <td align="center" style="padding:5px"><b>Image</b></td>
                <td align="center" style="padding:5px"><b>Price</b></td>
                <td align="center" style="padding:5px"><b>Average rating</b></td>
                <td align="center" style="padding:5px"><b>Status</b></td>
                <td align="center" style="padding:5px"><b>Change Status</b></td>
                <td align="center" style="padding:5px"><b>Details</b></td>
            </tr>
            @foreach (var e in GIGSTIX.Models.SortedEvents.Events)
            {
                
                <tr>
                    <td align="center" style="padding:5px">@e.Name</td>
                    <td align="center" style="padding:5px">@e.EventType</td>
                    <td align="center" style="padding:5px">@e.Date.ToShortDateString()</td>
                    <td align="center" style="padding:5px">@e.Location.ToString()</td>
                    <td align="center" style="padding:5px">@e.Image</td>
                    <td align="center" style="padding:5px">@e.Price.ToString()</td>
                    <td align="center" style="padding:5px">@e.AverageRating.ToString()</td>
                    <td align="center" style="padding:5px">@e.GetStatusString()</td>
                    <td align="center" style="padding:5px">
                        <form action="/GIGSTIX/AproveEvent" method="post">
                            <select name="status">
                                <option value="False">Inactive</option>
                                <option value="True">Active</option>
                            </select>
                            <input type="submit" value="Change" />
                            <input type="hidden" name="name" value="@e.Name" />
                        </form>
                    </td>
                    <td style="padding:5px">
                        <form action="/GIGSTIX/ShowEvent" method="post">
                            <input type="submit" value="Details" />
                            <input type="hidden" name="name" value="@e.Name" />
                        </form>
                    </td>
                </tr>   
            }
        </table>       
    </div>
</body>

