﻿@model GIGSTIX.Models.User
@{
    ViewBag.Title = "Edit Profile";
}

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <h2>Edit Profile</h2>
    <form action="/GIGSTIX/EditProfileImplementation" method="post">
        <table>
            <tr>
                <td style="padding:5px">Name:</td>
                <td style="padding:5px">
                    <input type="text" name="name" value="@Model.Name" data-val="true" data-val-length="Must be at least 2 characters" data-val-length-max="25" data-val-length-min="2" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>              
            </tr>
            <tr>
                <td style="padding:5px">Last name:</td>
                <td style="padding:5px">
                    <input type="text" name="lastname" value="@Model.LastName" data-val="true" data-val-length="Must be at least 2 characters" data-val-length-max="25" data-val-length-min="2" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="lastname" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Username:</td>
                <td style="padding:5px">
                    <input type="text" readonly="readonly" name="username" value="@Model.Username" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Gender:</td>
                <td style="padding:5px">
                    <select name="gender">
                        @if (Model.Gender == GIGSTIX.Models.Gender.Male)
                        {
                            <option value="male" selected="selected">Male</option>
                            <option value="female">Female</option>
                        }
                        else
                        {
                            <option value="female" selected="selected">Female</option>
                            <option value="male">Male</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Birthday:</td>
                <td style="padding:5px">
                    <input type="date" data-val-required="Required Field" name="birthday" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Password:</td>
                <td style="padding:5px">
                    <input type="text" name="password" value="@Model.Password" data-val="true" data-val-length="Must be at least 5 characters long" data-val-length-max="25" data-val-length-min="5" data-val-required="Required Field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="password" data-valmsg-replace="true"></span>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Save" />
    </form>
    <br />
    <button onclick="goBack()">Back</button>
</body>

