﻿@model List<GIGSTIX.Models.Event>
@{
    ViewBag.Title = "Filtered Events";
}

<html>
<head>
    <script>
            function goBack() {
                window.history.back();
            }
    </script>
</head>
<body>
    <h2>Filtered Events</h2>
    <table border="1">
        <tr>
            <td align="center" style="padding:5px"><b>Name</b></td>
            <td align="center" style="padding:5px"><b>Type</b></td>
            <td align="center" style="padding:5px"><b>Date</b></td>
            <td align="center" style="padding:5px"><b>Location</b></td>
            <td align="center" style="padding:5px"><b>Image</b></td>
            <td align="center" style="padding:5px"><b>Price</b></td>
            <td align="center" style="padding:5px"><b>Average rating</b></td>
            <td align="center" style="padding:5px"><b>Details</b></td>
        </tr>
        @foreach (var e in Model)
        {
            if (e.Status == true)
            {
                <tr>
                    <td align="center" style="padding:5px">@e.Name</td>
                    <td align="center" style="padding:5px">@e.EventType</td>
                    <td align="center" style="padding:5px">@e.Date.ToShortDateString()</td>
                    <td align="center" style="padding:5px">@e.Location.ToString()</td>
                    <td align="center" style="padding:5px">@e.Image</td>
                    <td align="center" style="padding:5px">@e.Price.ToString()</td>
                    <td align="center" style="padding:5px">@e.AverageRating.ToString()</td>
                    <td style="padding:5px">
                        <form action="/GIGSTIX/ShowEvent" method="post">
                            <input type="submit" value="Details" />
                            <input type="hidden" name="name" value="@e.Name" />
                        </form>
                        </td>
                </tr>
            }
        }
    </table>
    <button onclick="goBack()">Back</button>
</body>
</html>

