﻿@model List<GIGSTIX.Models.User>
@{
    ViewBag.Title = "Filtered Users";
}

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <h2>Filtered Users</h2>
    <table border="1">
        <tr>
            <td style="padding:5px" align="center"><b>Name</b></td>
            <td style="padding:5px" align="center"><b>Last name</b></td>
            <td style="padding:5px" align="center"><b>Username</b></td>
            <td style="padding:5px" align="center"><b>Birthday</b></td>
            <td style="padding:5px" align="center"><b>Gender</b></td>
            <td style="padding:5px" align="center"><b>Role</b></td>
            <td style="padding:5px" align="center"><b>Delete</b></td>
        </tr>
        @foreach (var u in Model)
        {
            if (!u.IsDeleted)
            {
                <tr>
                    <td style="padding:5px">@u.Name</td>
                    <td style="padding:5px">@u.LastName</td>
                    <td style="padding:5px">@u.Username</td>
                    <td style="padding:5px">@u.Birthday.ToShortDateString()</td>
                    <td style="padding:5px">@u.Gender.ToString()</td>
                    <td style="padding:5px">@u.Role.ToString()</td>
                    <td style="padding:5px">
                        <form action="/GIGSTIX/DeleteUser" method="post">
                            <input type="submit" value="Delete" />
                            <input type="hidden" name="username" value="@u.Username" />
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
    <br />
    <button onclick="goBack()">Back</button>
</body>
