﻿@using GIGSTIX.Models
@{
    ViewBag.Title = "Login";
}

<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:#b0a9eb">
    <div style="text-align:center">
        <h2>GIGSTIX</h2>
        <br />
        <form method="post" id="loginForm" action="/GIGSTIX/Login">
            <table align="center">
                <tr>
                    <td style="padding:5px">
                        Username:
                    </td>
                    <td style="padding:5px">
                        <div>
                            <input type="text" style="background-color:#b0a9eb" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="20" data-val-length-min="5" data-val-required="Required Field" name="username" />
                            <span class="text-danger field-validation-error" data-valmsg-for="username" data-valmsg-replace="true"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px">
                        Password:
                    </td>
                    <td style="padding:5px">
                        <div>
                            <input type="password" style="background-color:#b0a9eb" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="20" data-val-length-min="5" data-val-required="Required Field" name="password" />
                            <span class="text-danger field-validation-error" data-valmsg-for="password" data-valmsg-replace="true"></span>
                        </div>
                    </td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Log in" class="btn-success" />
        </form>
        <script>validateLogin()</script>
        <br />
        <form action="/GIGSTIX/Register">
            <input type="submit" value="Register" class="btn-primary" />
        </form>
    </div>
    <br />
    <div id="Events" class="tab-content">
        <h3>All Events</h3>
        <table border="1">
            <tr>
                <td align="center" style="padding:5px"><b>Name</b></td>
                <td align="center" style="padding:5px"><b>Type</b></td>
                <td align="center" style="padding:5px"><b>Date</b></td>
                <td align="center" style="padding:5px"><b>Location</b></td>
                <td align="center" style="padding:5px"><b>Image</b></td>
                <td align="center" style="padding:5px"><b>Price</b></td>
                <td align="center" style="padding:5px"><b>Average rating</b></td>
                <td align="center" style="padding:5px"><b>Details</b></td>
            </tr>
            @foreach (var e in SortedEvents.Events)
            {
                if (e.Status == true)
                {
                    <tr>
                        <td align="center" style="padding:5px">@e.Name</td>
                        <td align="center" style="padding:5px">@e.EventType</td>
                        <td align="center" style="padding:5px">@e.Date.ToShortDateString()</td>
                        <td align="center" style="padding:5px">@e.Location.ToString()</td>
                        <td align="center" style="padding:5px">@e.Image</td>
                        <td align="center" style="padding:5px">@e.Price.ToString()</td>
                        <td align="center" style="padding:5px">@e.AverageRating.ToString()</td>
                        <td style="padding:5px">
                        <form action="/GIGSTIX/ShowEvent" method="post">
                            <input type="submit" value="Details" />
                            <input type="hidden" name="name" value="@e.Name" />
                        </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <br />

    <form action="/GIGSTIX/SortEvents" method="post">
        <h3>Sort Events</h3>
        <table>
            <tr>
                <td align="left" style="padding:5px">
                    <select name="sortBy">
                        <option value="name">Name</option>
                        <option value="price">Price</option>
                        <option value="location">Location</option>
                        <option value="date">Date</option>
                    </select>
                </td>
                <td align="left" style="padding:5px">
                    <select name="order">
                        <option value="ascending">Ascending</option>
                        <option value="descending">Descending</option>
                    </select>
                </td>
                <td align="left" style="padding:5px">
                    <input type="submit" value="Sort" />
                </td>
            </tr>
        </table>   
    </form>

    <br />

    <form action="/GIGSTIX/FilterEvents" method="post">
        <h3>Filter Events</h3>
        <table>
            <tr>
                <td align="left" style="padding:5px">Name:</td>
                <td align="left" style="padding:5px"><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Location</td>
                <td align="left" style="padding:5px"><input type="text" name="location" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Date</td>
                <td align="left" style="padding:5px"><input type="date" name="date" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Price from</td>
                <td align="left" style="padding:5px"><input type="text" name="priceFrom" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Price to</td>
                <td align="left" style="padding:5px"><input type="text" name="priceTo" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Type</td>
                <td align="left" style="padding:5px"><input type="text" name="type" /></td>
            </tr>
            <tr>
                <td align="left" style="padding:5px">Show</td>
                <td align="left" style="padding:5px">
                    <select name="unsold">
                        <option value="all">All Events</option>
                        <option value="unsold">Unsold Events</option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Filter" />
    </form>

    <br />

</body>
