﻿
@{
    ViewBag.Title = "Registration";
}

<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body style="background-color:#b0a9eb">
    <h2>Registration</h2>
    <br />
    <form method="post" action="/GIGSTIX/Registration">
        <table>
            <tr>
                <td style="padding:5px">Name:</td>
                <td style="padding:5px">
                    <input type="text" style="background-color:#b0a9eb" name="name" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Last name:</td>
                <td style="padding:5px">
                    <input type="text" style="background-color:#b0a9eb" name="lastname" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr style="padding:5px">
                <td style="padding:5px">Username:</td>
                <td style="padding:5px">
                    <input type="text" style="background-color:#b0a9eb" name="username" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Password:</td>
                <td style="padding:5px">
                    <input type="password" style="background-color:#b0a9eb" name="password" data-val="true" data-val-length="Must be at least 5 characters" data-val-length-max="25" data-val-length-min="5" data-val-required="Required field" />
                    <span class="text-danger field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Birthday:</td>
                <td style="padding:5px">
                    <input type="date" style="background-color:#b0a9eb" name="birthday" data-val="true" data-val-required="Required field" />
                    <span class="field-validation-error" data-valmsg-for="birthday" data-valmsg-replace="true"></span> 
                </td>
            </tr>
            <tr>
                <td style="padding:5px">Gender:</td>
                <td style="padding:5px">
                    <select name="gender" style="background-color:#b0a9eb">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Register" class="btn-primary"/>
    </form>
</body>
</html>

