﻿@model GIGSTIX.Models.Seller
@{
    ViewBag.Title = "SellerView";
}

<body style="background-color:#b0a9eb">

    <div style="text-align:right">
        <form action="/GIGSTIX/SignOut">
            <input type="submit" value="Sign out" class="btn-danger" />
        </form>
    </div>

    <div style="text-align:left">
        <h2>User: @Model.Username</h2>
    </div>

    <br />

    <h3>Profile Information</h3>
    <table>
        <tr>
            <td style="padding:5px">Name:</td>
            <td style="padding:5px">@Model.Name</td>
        </tr>
        <tr>
            <td style="padding:5px">Last name:</td>
            <td style="padding:5px">@Model.LastName</td>
        </tr>
        <tr>
            <td style="padding:5px">Birthday:</td>
            <td style="padding:5px">@Model.Birthday.ToShortDateString()</td>
        </tr>
        <tr>
            <td style="padding:5px">Gender:</td>
            <td style="padding:5px">@Model.Gender</td>
        </tr>
        <tr>
            <td style="padding:5px">Role:</td>
            <td style="padding:5px">@Model.Role.ToString()</td>
        </tr>
    </table>
    <br />
    <form action="/GIGSTIX/EditProfile">
        <input type="submit" value="Edit Profile" />
    </form>

    <br />

    <div id="Events" class="tab-content">
        <h3>All Events</h3>
        <table border="1">
            <tr>
                <td align="center" style="padding:5px"><b>Name</b></td>
                <td align="center" style="padding:5px"><b>Type</b></td>
                <td align="center" style="padding:5px"><b>Date</b></td>
                <td align="center" style="padding:5px"><b>Location</b></td>
                <td align="center" style="padding:5px"><b>Image</b></td>
                <td align="center" style="padding:5px"><b>Price</b></td>
                <td align="center" style="padding:5px"><b>Average rating</b></td>
                <td align="center" style="padding:5px"><b>Details</b></td>
            </tr>
            @foreach (var e in GIGSTIX.Models.SortedEvents.Events)
            {
                if (e.Status == true)
                {
                    <tr>
                        <td align="center" style="padding:5px">@e.Name</td>
                        <td align="center" style="padding:5px">@e.EventType</td>
                        <td align="center" style="padding:5px">@e.Date.ToShortDateString()</td>
                        <td align="center" style="padding:5px">@e.Location.ToString()</td>
                        <td align="center" style="padding:5px">@e.Image</td>
                        <td align="center" style="padding:5px">@e.Price.ToString()</td>
                        <td align="center" style="padding:5px">@e.AverageRating.ToString()</td>
                        <td style="padding:5px">
                        <form action="/GIGSTIX/ShowEvent" method="post">
                            <input type="submit" value="Details" />
                            <input type="hidden" name="name" value="@e.Name" />
                        </form>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <br />
    <form action="/GIGSTIX/AddEvent" method="post">
        <input type="submit" value="Add Event" />
        <input type="hidden" name="username" value="@Model.Username" />
    </form>
    <br />
    <form action="/GIGSTIX/FilterEvents" method="post">
        <h3>Filter Events</h3>
        <table>
            <tr>
                <td align="center" style="padding:5px">Name:</td>
                <td align="center" style="padding:5px"><input type="text" name="name" /></td>
            </tr>
            <tr>
                <td align="center" style="padding:5px">Location</td>
                <td align="center" style="padding:5px"><input type="text" name="location" /></td>
            </tr>
            <tr>
                <td align="center" style="padding:5px">Date</td>
                <td align="center" style="padding:5px"><input type="date" name="date" /></td>
            </tr>
            <tr>
                <td align="center" style="padding:5px">Price from</td>
                <td align="center" style="padding:5px"><input type="text" name="priceFrom" /></td>
            </tr>
            <tr>
                <td align="center" style="padding:5px">Price to</td>
                <td align="center" style="padding:5px"><input type="text" name="priceTo" /></td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Filter" />
    </form>
</body>

