﻿@model GIGSTIX.Models.Event
@{
    ViewBag.Title = "ShowEvent";
}

<h2>Event Details</h2>

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <table>
        <tr>
            <td style="padding:5px"><b>Name</b></td>
            <td style="padding:5px">@Model.Name</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Type</b></td>
            <td style="padding:5px">@Model.EventType</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Available tickets</b></td>
            <td style="padding:5px">@Model.AvailableTickets.ToString()</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Date</b></td>
            <td style="padding:5px">@Model.Date.ToShortDateString()</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Price</b></td>
            <td style="padding:5px">@Model.Price.ToString()</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Status</b></td>
            <td style="padding:5px">@Model.GetStatusString()</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Location</b></td>
            <td style="padding:5px">@Model.Location.ToString()</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Image</b></td>
            <td style="padding:5px">@Model.Image</td>
        </tr>
        <tr>
            <td style="padding:5px"><b>Rating</b></td>
            <td style="padding:5px">@Model.AverageRating</td>
        </tr>
    </table>
    <br />
    <h3>Comments</h3>
    <table>
        <tr>
            <td style="padding:5px"><b>Buyer</b></td>
            <td style="padding:5px"><b>Content</b></td>
            <td style="padding:5px"><b>Rating</b></td>
        </tr>
        @foreach (var c in Model.Comments)
        {
            <tr>
                <td style="padding:5px">@c.Buyer.Username</td>
                <td style="padding:5px">@c.Content</td>
                <td style="padding:5px">@((int)c.Rating)</td>
            </tr>
        }
    </table>
    <br />
    <button onclick="goBack()">Back</button>
</body>

