﻿
@{
    ViewBag.Title = "Success";
}

<body style="background-color:#b0a9eb">
    <h2>Success!</h2>
    <br />
    <form action="/GIGSTIX/BackToProfile">
        <input type="submit" value="Back to Profile" />
    </form>
</body>

