﻿
@{
    ViewBag.Title = "Login Error";
}

<head>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body style="background-color:silver">
    <h2>Username is already taken!</h2>
    <br />
    <button type="button" class="btn-default" onclick="goBack()">Back</button>
</body>

